body {
background-image: url(https://img.cncenter.cz/foto/sport-fotbal-fortuna-liga-banik-ostrava-opava-fanousci-derby/Zml0LWluLzEwNTB4OTk5OS9maWx0ZXJzOnF1YWxpdHkoODUpOm5vX3Vwc2NhbGUoKS9pbWc/5671490.jpg?v=0&st=iN9x9dy2qjtIoDyr0uu0bLAeTM3-gml2QqSY4Mp8Vy0&ts=1600812000&e=0);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
}