body {
    background-image: url(https://g.denik.cz/57/83/ostrava-zlin-fc-banik-fastav-sport-fotbal-lischka-03.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }

